repos:
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.34.0
    hooks:
      - id: djlint-jinja
        files: "\\.html"
        types_or: ["html"]
        entry: djlint --profile=jinja --reformat
      - id: djlint-jinja
        files: "^templates.*\\.txt"
        types_or: ["text"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: trailing-whitespace
      - id: check-yaml
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--django"]
      - id: check-json
      - id: requirements-txt-fixer
      - id: check-vcs-permalinks
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        entry: codespell -L IAM,iam
        exclude: "\\.ics|.json$"
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.11
    hooks:
      - id: taskcluster_yml
  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.0
    hooks:
      - id: mypy
        additional_dependencies:
          - tokenize-rt==4.2.1
          - types-filelock==3.2.7
          - types-pytz==2021.3.8
          - types-python-dateutil==2.8.17
          - types-PyYAML==6.0.8
          - types-requests==2.27.30
          - types-tabulate==0.8.9
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: check-json-indentation
        name: Check JSON Indentation Consistency
        entry: pre-commit/check_json_indentation.py
        language: python
        files: \.json$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.15
    hooks:
      - id: uv-lock
