alembic==1.11.1
argparse==1.4.0
filelock==3.12.2
gspread==5.9.0
humanize>=0.5.1
icalendar==5.0.7
Jinja2==3.1.2
libmozdata==0.2.3
numpy==1.25.0
pep8==1.7.1
pyflakes==3.0.1
python-dateutil>=2.8.2
python-Levenshtein>=0.12.0
pytz>=2018.9
PyYAML==6.0
recurring-ical-events==2.0.2
requests==2.31.0
sqlalchemy==2.0.17
tenacity==8.2.2
whatthepatch>=0.0.5
