Jinja2==2.6
argparse==1.2.1
bztools==0.0.1
certifi==0.0.8
chardet==1.0.1
-e git://github.com/jbalogh/check.git@44797a529a2a3dfc8e9e7d4b8ed19892bdbf60d4#egg=check-dev
httplib2==0.7.4
keyring==0.8.1
path.py==2.2.2
pep8==0.6.1
pyflakes==0.5.0
python-dateutil==1.5
-e git://github.com/LegNeato/remoteobjects.git@15cf6ac14e7215bdc1919ba4ca4bb125c21eb4c7#egg=remoteobjects-dev
requests==0.10.6
simplejson==2.3.3
wsgiref==0.1.2
