Jinja2==2.11.1
argparse==1.4.0
humanize>=0.5.1
libmozdata>=0.1.65
pep8==1.7.1
pyflakes==2.1.1
python-dateutil>=2.5.2
requests>=2.20.0
python-Levenshtein>=0.12.0
pytz>=2018.9
whatthepatch>=0.0.5
icalevents==0.1.24
icalendar==4.0.4
sqlalchemy==1.3.13
filelock==3.0.12
alembic==1.4.1
numpy==1.18.1
