<p>The following {{ plural('bug has', data, pword='bugs have') }} an assignee who is inactive on Bugzilla:
  <table {{ table_attrs }}>
    <thead>
      <tr>
        <th>Triage owner</th><th>Component</th><th>Bug</th><th>Summary</th><th>Assignee</th><th>Assignee Status</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (triage_owner_name, comp, bugid, summary, assignee, assignee_status) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          {{ triage_owner_name | e }}
        </td>
        <td>
          {{ comp | e }}
        </td>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          {{ assignee | e }}
        </td>
        <td>
          {{ assignee_status | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
