<p>The following {{ plural('bug has', data, pword='bugs have') }} been fixed in nightly {{ extra['nightly'] }} the {{ extra['date'] }} (UTC+0):
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Product</th><th>Component</th><th>Assignee</th><th># of patches</th><th>Added lines</th><th>Removed lines</th><th>Changes size</th><th>Tests size</th><th>Priority</th><th>Severity</th><th>Tracking {{ extra['nightly'] }}</th><th>Status {{ extra['release'] }}</th><th>Status {{ extra['beta'] }}</th><th>Status {{ extra['nightly'] }}</th><th>Crash</th><th>Keywords</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary, product, component, assignee, landed_patches, addlines, rmlines, size, test_size, priority, severity, tracking, status, crash, keywords) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a title="{{ summary | e }}" href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td title="product">
          {{ product | e }}
        </td>
        <td title="component">
          {{ component | e }}
        </td>
        <td title="assignee">
          {{ assignee | e }}
        </td>
        <td title="# of patches">
          {{ landed_patches }}
        </td>
        <td title="Added lines">
          {{ addlines }}
        </td>
        <td title="Removed lines">
          {{ rmlines }}
        </td>
        <td title="Changes size">
          {{ size }}
        </td>
        <td title="Tests size">
          {{ test_size }}
        </td>
        <td title="Priority">
          {{ priority }}
        </td>
        <td title="Severity">
          {{ severity }}
        </td>
        <td title="Tracking {{ extra['nightly'] }}">
          {{ tracking }}
        </td>
        <td title="Status {{ extra['release'] }}">
          {{ status[extra['release']] }}
        </td>
        <td title="Status {{ extra['beta'] }}">
          {{ status[extra['beta']] }}
        </td>
        <td title="Status {{ extra['nightly'] }}">
          {{ status[extra['nightly']] }}
        </td>
        <td title="Crash">
          {{ crash }}
        </td>
        <td title="Keywords">
          {{ keywords | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
