<p>The following {{ plural('bug starts', data, pword='bugs start') }} with 'please', 'enable' or 'disable' but {{ plural('is', data, pword='are') }} defect:
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
