<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>[autonag] Bugs with feature and regression keywords</title>
  </head>
  <body>
    <p>Hi there,</p>
    <p>The following bugs have both regression and feature as keywords:
      <ul>
        {% for bugid in bugids -%}
        <li><a href="https://bugzil.la/{{ bugid }}">{{ bugid }}</a></li>
        {% endfor -%}
      </ul>
    </p>
    <p>Sincerely,<br>
      Release Management Bot
    </p>
    <p>
      See the source / report issues on the <a href="https://github.com/mozilla/relman-auto-nag/">GitHub repo</a>
    </p>
  </body>
</html>
