<p>The following {{ plural('bug has', data, pword='bugs have') }} patches with inactive authors:</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Summary</th>
            <th>Patches</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, summary) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td {% if bugid in no_manager %}style="background:red;"{% endif %}>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ summary | e }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
