<p>The following {{ plural('bug has', data, pword='bugs have') }} many votes:</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Component</th>
            <th>Summary</th>
            <th>Creation</th>
            <th>Last comment</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, product, component, summary, creation, last_change) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ product }}::{{ component }}</td>
            <td>{{ summary | e }}</td>
            <td>{{ creation }}</td>
            <td>{{ last_change }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
