<p>The following bugs haven't been updated with a commit referencing them:</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Changeset</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, csets) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>
                {% for cset in csets %}<a href="{{ cset[1] | e }}">{{ cset[0] }}</a>{% endfor %}
            </td>
        </tr>
    {% endfor -%}
</tbody>
</table>
