<p>The following {{ plural('bug has', bugids, pword='bugs have') }} a needinfo from a manager or a director and no activity for the last {{ extra['nweeks'] }} {{ plural('week', extra['nweeks']) }} (when the bug is red, then the needinfo is on a person with no manager):
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Needinfos</th><th>Last comment</th>
      </tr>
    </thead>
    <tbody>
      {% for bugid, summary in bugids -%}
      <tr>
        <td {% if str(bugid) in no_manager %}style="background:red;"{% endif %}>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          <ul>
          {% for ni in needinfos[str(bugid)] -%}
          <li><a href="mailto:{{ ni }}">{{ ni | e }}</a></li>
          {% endfor -%}
          </ul>
        </td>
        <td>
          {{ last_comment[str(bugid)] }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
