<p>
    The following {{ plural('bug has', data, pword='bugs have') }} a priority P1 and no activity for the last {{ extra['ndays'] }} {{ plural('day', extra['ndays']) }}:
</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Component</th>
            <th>Bug</th>
            <th>Summary</th>
            <th>Last comment</th>
            <th>Assignee</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (product, comp, bugid, summary, last_comment, assignee) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>{{ product | e }}::{{ comp | e }}</td>
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ summary | e }}</td>
            <td>{{ last_comment }}</td>
            <td>{{ assignee | e }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
