<p>
    The following {{ plural('bug has', data, pword='bugs have') }} a patch pending security approval, but the affected/unaffected status is not set for all current releases:
</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (id, summary, assignee) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ id }}">{{ id }}</a>
            </td>
            <td>{{ summary | e }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
