<p>The following regressions had their status flags updated:</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Summary</th>
            <th>Regressed by</th>
            <th>Status in central</th>
            <th>Status in beta</th>
            <th>Status in release</th>
            {% for esr in extra %}<th>Status in {{ esr }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i, (bug, summary, regressor, central, beta, release, esr) in enumerate(data) %}
            <tr>
                <td>
                    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug }}">{{ bug }}</a>
                </td>
                <td>{{ summary | e }}</td>
                <td>
                    <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ regressor }}">{{ regressor }}</a>
                </td>
                <td>{{ central }}</td>
                <td>{{ beta }}</td>
                <td>{{ release }}</td>
                {% for esr_branch in extra %}<td>{{ esr[esr_branch] }}</td>{% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
