<p>The following {{ plural('calendar needs', calendars, pword='calendar need') }} to be updated in order to have a triage owner:</p>
<ul>
  {% for name, calendar in calendars.items() -%}
  {% if calendar['nobody'] -%}
  <li>{{ name }}: no triage owner for the next week.</li>
  {% else -%}
  <li>
    {{ name }}: cannot find the following {{ plural('person', calendar['persons']) }}:
    <ul>
      {% for person in calendar['persons'] -%}
      <li>{{ person }}</li>
      {% endfor -%}
    </ul>
  </li>
  {% endif -%}
  {% endfor -%}
</ul>
