<p>
    The following {{ plural('bug has', data, pword='bugs have') }} discrepancy between the bug severity and the security keyword. {{ plural('Owner', data) }} got {{ plural('a needinfo request', data, pword='needinfo requests') }} to bump the severity:
</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Summary</th>
            <th>Severity</th>
            <th>Security Keyword</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, summary, severity, security_keyword) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ summary | e }}</td>
            <td>{{ severity }}</td>
            <td>{{ security_keyword }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
