<p>The following {{ plural('bug has', data, pword='bugs have') }} duplicate bugs with higher severity; the bot suggested increasing the severity:
  <table {{ table_attrs }}>
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Severity</th><th>Suggested Severity</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary, severity, suggested_severity) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
         </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          {{ severity }}
        </td>
        <td>
          {{ suggested_severity }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
