<p>The following {{ plural('bug', data, pword='bugs') }} {{ plural('doesn\'t', data, pword='don\'t') }} have the Has STR field set:
  <table {{ table_attrs }}>
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Has STR</th><th>Confidence (%)</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary, has_str, confidence, autofixed) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          {{ has_str }}
        </td>
        <td {% if autofixed %}bgcolor="#00FF00"{% endif -%}>
          {{ confidence }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
