<p>
    The following {{ plural('bug has', data, pword='bugs have') }} no Severity field set and no pending needinfos (see the triage <a href="https://firefox-source-docs.mozilla.org/bug-mgmt/policies/triage-bugzilla.html#what-do-you-triage">documentation</a>):
</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Component</th>
            <th>Bug</th>
            <th>Summary</th>
            <th>Bug Type</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (comp, bugid, summary, type) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>{{ comp | e }}</td>
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ summary | e }}</td>
            <td>{{ type | e }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
{% if query_url_nag %}
    <p>
        See the query on <a href="{{ query_url_nag }}">Bugzilla</a>.
    </p>
{% endif -%}
