<p>The following {{ plural('bug has', data, pword='bugs have') }} topcrash as keyword but the severity isn't high enough:
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th>
      </tr>
    </thead>
    <tbody>
      {% for i, bugid in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
