<p>The following {{ plural('bug is', bugids, pword='bugs are') }} tracked or nominated for tracking with a needinfo? in {{ extra['channel'] }} {{ extra['version'] }} (when the bug is red, then the needinfo is on a person with no manager):
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Needinfos</th><th>Assignee</th><th>Last comment</th>
      </tr>
    </thead>
    <tbody>
      {% for bugid, summary in bugids -%}
      <tr>
        <td {% if str(bugid) in no_manager %}style="background:red;"{% endif %}>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          <ul>
          {% for ni in needinfos[str(bugid)] -%}
          <li><a href="mailto:{{ ni }}">{{ ni | e }}</a></li>
          {% endfor -%}
          </ul>
        </td>
        <td>
          {{ assignees[str(bugid)] | e }}
        </td>
        <td>
          {{ last_comment[str(bugid)] }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
