<p>The following {{ plural('bug is', data, pword='bugs are') }} tracked or nominated for tracking with a needinfo? in {{ extra['channel'] }} {{ extra['version'] }} (when the bug is red, then the needinfo is on a person with no manager):
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Needinfos</th><th>Assignee</th><th>Last comment</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary, needinfos, assignee, last_comment) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td {% if bugid in no_manager %}style="background:red;"{% endif %}>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          {% if needinfos -%}
          <ul>
            {% for ni in needinfos -%}
            <li><a href="mailto:{{ ni }}">{{ ni | e }}</a></li>
            {% endfor -%}
          </ul>
          {% endif -%}
        </td>
        <td>
          {{ assignee | e }}
        </td>
        <td>
          {{ last_comment }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
