<p>The following {{ plural('bug is', data, pword='bugs are') }} tracked in a release but the bug severity is small:
  <table {{ table_attrs }}>
    <thead>
      <tr>
        <th>Bug</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary) in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
