<p>
    The following {{ plural('bug has', data, pword='bugs have') }} a version tracking flag, however, {{ plural('it needs', data, pword='they need') }} attention (when the bug is red, then it is a regression):
</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Summary</th>
            <th>Tracking Flags</th>
            <th>Issues</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, summary, tracking_statuses, is_regression, reasons, action) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ summary | e }}</td>
            <td {% if is_regression %}bgcolor="#FFB8B8"{% endif %}>
                <ul style="padding: 0; margin: 0">
                    {% for status in tracking_statuses -%}
                        <li>{{ status }}</li>
                    {% endfor -%}
                </ul>
            </td>
            <td>
                <ul style="padding: 0; margin: 0">
                    {% for reason in reasons -%}
                        <li>{{ reason }}</li>
                    {% endfor -%}
                </ul>
            </td>
        </tr>
    {% endfor -%}
</tbody>
</table>
