<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Hi there,</p>
        <p>
            There has been a switch in triage ownership for the following components. Please see the details below and refer to the link to the triage.
        </p>
        <table style="margin-left: auto; margin-right: auto; width: 80%;">
            <!-- Center only the table and set its width -->
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Old Triage Owner</th>
                    <th>New Triage Owner</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% set counter = 0 %}
                {% for row in data %}
                    {% set bg_color = '#E0E0E0' if counter % 2 == 0 else '#FFFFFF' %}
                    <tr {%- if row['has_put_error'] %} style="background-color: #FFB8B8;"{% else %} style="background-color: {{ bg_color }};"{% endif -%}>
                        <td>{{ row['component'] }}</td>
                        <td>{{ row['old_triage_owner'] }}</td>
                        <td>{{ row['new_triage_owner'] }}</td>
                        <td>
                            <a href="{{ row['details_url'] }}">Link to Triage</a>
                        </td>
                    </tr>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </tbody>
        </table>
        <p>
            Sincerely,
            <br>
            BugBot
        </p>
        <p>
            See the source / report issues on the <a href="https://github.com/mozilla/bugbot/">GitHub repo</a>
        </p>
    </body>
</html>
