{% if nag_preamble %}
<p>
  <ul>
    <li><a href="https://firefox-source-docs.mozilla.org/bug-mgmt/guides/severity.html">Severty definitions</a></li>
  </ul>
</p>
{% endif %}
<p>
  The following triaged {{ plural('bug has', data, pword='bugs have') }} no Severity field set:
</p>
<table {{ table_attrs }}>
  <thead>
    <tr>
      <th>Component</th><th>Bug</th><th>Summary</th><th>Triaged Since</th>
    </tr>
  </thead>
  <tbody>
    {% for i, (comp, bugid, summary, triaged_since) in enumerate(data) -%}
    <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
      <td>
        {{ comp | e }}
      </td>
      <td>
        <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
      </td>
      <td>
        {{ summary | e }}
      </td>
      <td>
        {{ triaged_since }}
      </td>
    </tr>
    {% endfor -%}
  </tbody>
</table>
{% if query_url_nag %}<p>See the query on <a href="{{ query_url_nag }}">Bugzilla</a>.</p>{% endif -%}
