<p>The following {{ plural('bug', data) }} {{ plural('has', data, pword='have') }} an unlanded patch or some flags not up-to-date:
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Assignee</th>
      </tr>
    </thead>
    <tbody>
      {% for i, info in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ info['id'] }}">{{ info['id'] }}</a>
        </td>
        <td>
          {{ info['summary'] | e }}
        </td>
        <td>
          {{ extra['assignees'][info['id']] | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
