<p>The following bugs have an unlanded patch or some flags not up-to-date:
  <ul>
    <li>When the bug is red, then the needinfo is on a person with no manager.</li>
    {% for bugid, summary in bugids -%}
    <li>
      <a {% if str(bugid) in no_manager %}style="color:red;" {% endif %}href="https://bugzilla.mozilla.org/{{ bugid }}">{{ bugid }}</a>: {{ summary | e }} (assigned to {{ assignees[str(bugid)] | e }})
      <br>
      &mdash; Last commented on: {{ last_comment[str(bugid)] }}
    </li>
    {% endfor -%}
  </ul>
</p>
