<p>The following {{ plural('variant', data) }} should be removed or extended:</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Component</th>
            <th>Variant</th>
            <th>Expiration</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, product, component, variant_name, expiration, action) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ product }}::{{ component }}</td>
            <td>{{ variant_name }}</td>
            <td>{{ expiration }}</td>
            <td>{{ action }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
