<p>The following {{ plural('bug has', data, pword='bugs have') }} a priority P2 and no activity for the last {{ extra['nmonths'] }} {{ plural('month', extra[nmonths]) }}{% if query_url %} (see the search query on <a href="{{ query_url }}">Bugzilla</a>){% endif %}:
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Last comment</th><th>Component</th>
      </tr>
    </thead>
    <tbody>
      {% for i, info in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ info['id'] }}">{{ info['id'] }}</a>
        </td>
        <td>
          {{ info['summary'] | e }}
        </td>
        <td>
          {{ last_comment[info['id']] }}
        </td>
        <td>
          {{ prod_comp[info['id']]['c'] | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
