<p>The following {{ plural('bug has', bugids, pword='bugs have') }} a priority P1, no assignee and no activity for the last {{ extra['ndays'] }} {{ plural('day', extra['ndays']) }}:
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th><th>Last comment</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (bugid, summary) in enumerate(bugids) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
        </td>
        <td>
          {{ summary | e }}
        </td>
        <td>
          {{ last_comment[str(bugid)] }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
