<p>The following {{ plural('bug has', data, pword='bugs have') }} no priority flag set for {{ extra['nweeks'] }} {{ plural('week', extra['nweeks']) }}:
  <table border="1">
    <thead>
      <tr>
        <th>Bug</th><th>Summary</th>
      </tr>
    </thead>
    <tbody>
      {% for i, info in enumerate(data) -%}
      <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"{% endif -%}>
        <td>
          <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ info['id'] }}">{{ info['id'] }}</a>
        </td>
        <td>
          {{ info['summary'] | e }}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</p>
